<!-- ControllerAs nav (take in sidenav service) -->
<div ng-controller="NavigationController as nav">
	<md-toolbar layout="row">
		<div class="md-toolbar-tools">
			<md-button ng-click="nav.toggleSideNav()" hide-gt-sm class="md-icon-button">
				<md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
				</md-icon>
			</md-button>

			<h1>Pyre</h1>
			<span flex></span>

			<div hide-sm>
				<a href="#" class="md-button" ng-repeat="link in nav.links">{{ link }}</a>
			</div>

		</div>
	</md-toolbar>
</div>