ul.pyre-sidenav-links {
	margin: 0;
	padding: 0;
}

md-toolbar.pyre-nav-toolbar {
	background: white;
	color: #333;

	.md-caption {
		margin-bottom: 20px;
		margin-left: 15px;
	}

	md-icon.pyre-burger-icon {
		color: #333;
	}
}