md-sidenav.pyre-navigation {
	background: #333;
	color: white;
	justify-content: center;
	
	.blog-section {
		display: flex;
		padding-top: 30%;
	}

	.pyre-blog-title {
		margin-left: 10%;
		margin-right: 10%;

		h1 {
			margin: 0;
		}
	}

	.pyre-blog-tagline {
		margin-left: 10%;
		margin-right: 10%;

		p {
			margin: 0;
		}
	}

	.pyre-nav-separator {
		background: white;
		display: block;
		height: 1px;
		width: 40%;
		margin-left: 10%;
		margin-top: 30px;
		margin-bottom: 30px;
	}

	nav.pyre-nav {
		margin-left: 10%;
		margin-right: 10%;

		ul {
			margin: 0; padding: 0;

			li {
				margin-bottom: 2%;
				
				a {
					color: white;
					text-decoration: none;
				}
			}
		}
	}

	.pyre-account-section {
		display: flex;
		flex: 0 0 70px;
		align-items: center;
		justify-content: space-between;
		border-top: 1px solid #555;

		.pyre-avatar {
			background-image: url(https://placehold.it/60x60/B0AE94/000?text=P);
			width: 48px;
			height: 48px;
			border-radius: 100%;
			background-size: cover;
			border: 2px solid #DADFE1;
			display: flex;
			flex: 0 0 46px;
			margin-left: 10px;
		}

		.pyre-user-actions {
			margin-right: 10px;
		}
	}
}

md-toolbar.pyre-topnav {
	background: #333;
	color: white;

	.pyre-nav-burger {
		color: white;
	}
}