<md-card>
	<md-card-title>
		<md-card-title-text>
			<span class="md-headline">Blog Settings</span>
		</md-card-title-text>
	</md-card-title>

	<md-card-content>
		<ng-form name="blogSettingsForm">
			<md-input-container class="md-block">
				<label>Blog Title</label>
				<input md-placeholder="Enter a title for the blog" ng-model="ctrl.blogTitle">
			</md-input-container>

			<md-input-container class="md-block">
				<label>Blog Summary</label>
				<textarea rows="5" ng-model="ctrl.blogSummary"></textarea>
			</md-input-container>
		</ng-form>
	</md-card-content>

	<md-card-actions class="pyre-post-actions" layout="row" layout-align="end center">
		<md-button class="md-raised md-primary" ng-click="ctrl.saveSettings()">Save</md-button>
	</md-card-actions>
</md-card>